@model Schultz.Nemlogin.Signing.Models.SigningRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Verificer signatur</title>
    <script type="text/javascript">
        function AutoPost() {
            document.forms["Sign"].submit();
        }
    </script>
</head>
<body onload="AutoPost()">
    <form id="Sign" runat="server" method="post" action="@Model.SigneringEndPoint">
        <input name="SignText" id="SignText" type="hidden" value="@Model.SignText" />
        <input name="EntityId" id="EntityId" type="hidden" value="@Model.EntitId" />
        <input name="RequestId" id="RequestId" type="hidden" value="@Model.RequestId" />
        <input name="TargetUrl" id="TargetUrl" type="hidden" value="@Model.TargetUrl" />
        <input name="SignedFingerprint" id="SignedFingerprint" type="hidden" value="@Model.SignedFingerprint" />
        <input name="DigestAlgorithm" id="DigestAlgorithm" type="hidden" value="@Model.DigestAlgorithm" />
        <input name="SignTextFormat" id="SignTextFormat" type="hidden" value="@Model.SignTextFormat" />
    </form>
</body>
</html>